.main {
    /* text-align: center; */
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .title {
    margin-top: -.1em;
    font-size: 4em;
  }
  
  .container{
    margin-left: 3vw;
    margin-top: -2em;
  }

  .heading {
    font-size: 3em;
  }
  
  .wrapper{
    margin-top: -2em;
    margin-left: 6vw;
    width: 170vw;
  }

  
  .image {
    font-size: 1.25em;
    margin: 30px;
    display: inline-block;
    line-height: 100px; 
  }

  .image img{
    height: 25vh;
    width: 20vw;
  }

  
  
  /* one for each of the component so that each components works in sync with the query */
  .food{
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 45%;
  }
  /* one for each of the component so that each components works in sync with the query */
  .homes{
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 45%;
  }
  /* one for each of the component so that each components works in sync with the query */
  .travel{
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 45%;
  }  
  /* one for each of the component so that each components works in sync with the query */
  .travel{
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 45%;
  }  
  /* one for each of the component so that each components works in sync with the query */  
  .cars{
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 45%;
  }  
  .animals{
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 45%;
  } 


  .Transport{
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 45%;
  } 

  .Technology{
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 45%;
  } 
  .Nature{
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 45%;
  } 
  .Furniture{
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 45%;
  }

  

  .prev, .next {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
    cursor: pointer;
    color: black;
    transition: 0.6s ease;
  }
  
  .next {
    margin-left: 2em;
  }
  
  .prev {
    margin-right: 2em;
  }
  
  .prev:hover, .next:hover {
    color: white;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
  }